@page "/posts/{url}"
@using BlazorBlog.Shared.Models;
@inject BlazorBlog.Client.Services.IBlogService BlogService

@if (post == null)
{
    <span>Loading...</span>
}
else
{
    <h3>@post.Title</h3>
    <div>
        @post.Content
    </div>
}


@code {
    private BlogPost post;

    [Parameter]
    public string Url { get; set; }

    protected override async Task OnInitializedAsync()
    {
        post = await BlogService.GetBlogPostByUrlAsync(Url);
    }
}
