@using BlazorBlog.Shared.Models;
@inject BlazorBlog.Client.Services.IBlogService BlogService

<a href="/create">Create New</a>
@foreach (BlogPost post in posts)
{
    <div style="margin: 25px;">
        <div>
            <h3>@post.Title</h3>
        </div>
        <div>
            @post.Description
        </div>
        <div>
            <a href="/posts/@post.Url">Read more...</a>
        </div>
    </div>
}

@code {
    private List<BlogPost> posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await BlogService.GetBlogPostsAsync();
    }
}
