@using BlazorBlog.Shared.Models;
@inject BlazorBlog.Client.Services.IBlogService BlogService
@foreach (BlogPost post in BlogService.GetBlogPosts())
{
    <div style="margin: 25px;">
        <div>
            <h3>@post.Title</h3>
        </div>
        <div>
            @post.Description
        </div>
        <div>
            <a href="/posts/@post.Url">Read more...</a>
        </div>
    </div>
}

@code {
}
